<div class="container">
	<h1>About Page</h1>
	<hr id="width-line">
	<p>MyList is a web application modeled after craigslist. I am building this app to practice Ruby on Rails. Stay tuned for more updates!</p>
</div>
