<li>
  <div class="col-sm-3">
    <a href="#" target="_blank">
      <%= image_from_amazon(post.amazon_id) %>
    </a>
  </div>

  <div class="col-sm-9">
    <h3><a href="#"><%= post.title %></a></h3>
    <h5>Posted by: <a href="#"> person </a></h5>
    <p class="text-muted"><em>Price: $<%= post.price %></em></p>
    <div>
      <p>
        <%= post.body %>
      </p>
    </div>
    <hr id="post-line" />
  </div>
</li>