<div class="container">

<h1>For Sale Posts</h1>

<!--
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
</form>
-->

<hr id="width-line"></hr>
  <div class='row'>
    <div class='col-sm-12'>
        <form class = "form-inline">
          <div class="form-group">
            <label for='keyword' id="search-label">Search:</label>
            <input type='text' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword'>
          </div>
        </form>
    </div>
  </div>
<hr id="width-line"></hr>

<div class="row">
    <div class="col-sm-10">
      <ul class="list-unstyled">

        <%= render @posts %>

      </ul>
    </div>
  </div>

</div>
