<div class="container">

<h1 id="header">For Sale</h1>

<hr id="width-line"></hr>
  <div class='row' id='search-bar'>
    <div class='col-sm-12'>
        <form class = "form-inline">
          <div class="form-group">
            <label for='keyword' id="search-label">Search:</label>
            <input type='text' id="input-label" value='<%= params[:keyword] %>' name='keyword' placeholder=' Keyword'>
          </div>
        </form>
    </div>
  </div>

<div class="row">
    <div class="col-sm-10">
      <ul class="list-unstyled">

        <%= render @posts %>

      </ul>
    </div>
  </div>

</div>
