@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* lines */

hr#width-line {
    height: 1px;
    color: #333333;
    background-color: #666666;
}

hr#post-line {
}

/* search bar */
label#search-label {
	margin-right: 15px;
}

input#input-label {
	width: 300px;
  margin-bottom: 0px;
}

#search-bar {
  margin-bottom: 25px;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* Nav Bar */

#white-color {
  color: #FFFFFF;
}

#white-color:hover {
  color: #666;
  text-decoration: none;
}

#white-logo {
  color:#FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0px;
}




